.background{
    background-image: url('/assets/silver-plain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background: transparent; */
}

.no-padding{
    padding: 0px;
}

.content{
    min-height: calc(100vh - 56px);
    display: flex;
}

.social-media{
    width: min-content;
    height: calc(100vh - 56px);
    position: sticky;
    top:56px;
}

.router{
    width:100%;
}

@media screen and (max-width: 600px){
    .content{
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }

    .social-media{
        width: 100%;
        height: min-content;
    }

    .social-media-outer{
        order:2;
    }

    .router{
        order:1;
        flex-grow: 1;
    }
}