.navbar-custom{
    width: 100%;
    height: 56px;
    position:sticky;
    top:0px;
    z-index: 100;
}

.navbar-color{	
    background-image: url('/assets/neon.png');
}

.navbar-brand-custom{
    cursor: pointer;
}

.nav-link-custom{
    color:greenyellow;
    cursor: pointer;
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 50%;
        height: 100%;
        z-index: 1;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    .navbar-color{
        background-image: url('/assets/neon.png');
    }
    .navbar-side-menu-color{
        background-image: url('/assets/neon.png');
    }
}