.navbar-outer{
    width: 100%;
    height: 56px;
    position:sticky;
    top:0px;
    z-index: 100;
}

.navbar-custom{
    padding:0px 16px; 
    box-shadow: 2px -3px 20px 0px black;
    height: 100%;
}

.navbar-color{	
    background-image: url('/assets/silver-plain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand-custom{
    cursor: pointer;
    font-family: fangsong;
    font-weight: 900;
    color: steelblue;
    font-size: x-large;
}

.nav-link-custom{
    cursor: pointer;
    font-weight: 600;
    font-family: 'FontAwesome';
    font-size: larger;
    text-shadow: 2px 1px 3px white;
    padding-left: 15px;
    padding-right: 15px;
}



.nav-link-active{
    border: 1px solid black;
    border-radius: 0%;
    background: black;
    text-shadow: 0 0 black;
}

.display-flex{
    display: flex;
    height: 100%;
}

@media (max-width: 600px) {
    .nav-link-custom{
        cursor: pointer;
        font-weight: 500;
        font-family: 'FontAwesome';
        font-size: medium;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hide-on-small-screen{
        display: none;
    }
}