<div class="center-content small-screen fadein-animation">
    <div class="center-content">
        <img src="/assets/ganesh.jpg" class="profile-img">
    </div>
    <div class="center-content" style="flex-direction:column; margin-left: 30px;">
        <div class="my-name"><h1>Ganesh Patra</h1></div>
        <div class="sub-title"><h6>Software Engineer | Java Developer | Angular </h6></div>
        <div>
            <a href="mailto:92ganeshpatra@gmail.com" class="fa fa-google"></a>
            <a href="https://www.linkedin.com/in/ganesh-patra/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/channel/UCqWcLKvibUdE08OgHc07CVA" target="_blank" class="fa fa-youtube"></a>
            <a href="https://www.github.com/92ganesh" target="_blank" class="fa fa-github"></a>
        </div>
        <div class="comment-box" (click)="openDialog()">
            <div class="typewriter">
                {{this.commentBoxText}}
            </div>
        </div>
    </div>
</div>