<div class="container-fluid background ">
    <div class="row center-content">
        <img src="/assets/ganesh.jpg" class="img-fluid"  style="border-radius: 50%; margin-top:30px; scale: 0.5">
    </div>
    <div class="row" style="color: rgb(109, 77, 77);">
        <div class="col">
            <div class="row center-content"><h1>Ganesh Patra</h1></div>
            <div class="row center-content"><h7>Software Engineer | Machine Learning | Competitive programming </h7></div>
            <div class="row center-content">
                <a href="#" class="fa fa-google"></a>
                <a href="https://www.linkedin.com/in/ganesh-patra/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/channel/UCqWcLKvibUdE08OgHc07CVA" target="_blank" class="fa fa-youtube"></a>
                <a href="https://www.github.com/92ganesh" target="_blank" class="fa fa-github"></a>
            </div>
        </div>
    </div>
    <br>
</div>