.projects-card{
    justify-content: space-around;
    margin-top: 20px;
}

.card-custom{
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 5px 4px 5px 2px #797979;
    padding-top: 0px;
}

.title{
    font-family: ui-sans-serif;
    font-size: large;
    margin-left: -16px;
    margin-bottom: -7px;
    margin-top: 5px;
    font-weight: bold;
}

.btn-custom{

}

.details{
    font-size: small;
    color:grey;
}