.projects-card{
    justify-content: space-around;
    margin-top: 20px;
}

.card-custom{
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 5px 4px 5px 2px #797979;
}

.title{
    font-family: cursive;
    font-size: larger;
    margin-left:-16px
}