<div class="container-fluid">
    <div class="row projects-card">
        <div *ngFor="let project of projectList" class="card-deck">
          <mat-card class="card-custom">
            <mat-card-header style="margin:0px">
              <mat-card-title class="title">{{project.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{this.baseUrl+'projectImages/'+project.image}}" height="250px" width="300px" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <div class="row">
                <div class="col">
                    <button mat-button class="btn btn-primary" style="margin-right: 30px">view on Github</button>
                </div>
                <div class="col-auto">
                    <button *ngIf="project.demo!=null" mat-button class="btn btn-danger">Demo</button>
                </div>
              </div>
            </mat-card-actions>
            <mat-card-content>
              <p>{{project.detail}}</p>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>